<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mancenter</display-name>
  <servlet>
    <servlet-name>collector</servlet-name>
    <servlet-class>com.jebhomenye.hazelcast.servlet.Collector</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>collector</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.jebhomenye.hazelcast.servlet.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chart</display-name>
    <servlet-name>Chart</servlet-name>
    <servlet-class>com.jebhomenye.hazelcast.servlet.Chart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart</servlet-name>
    <url-pattern>/chart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTask</display-name>
    <servlet-name>GetTask</servlet-name>
    <servlet-class>com.jebhomenye.hazelcast.servlet.GetTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTask</servlet-name>
    <url-pattern>/getTask.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutResponse</display-name>
    <servlet-name>PutResponse</servlet-name>
    <servlet-class>com.jebhomenye.hazelcast.servlet.PutResponse</servlet-class>
    <init-param>
     <param-name>requests</param-name>
     <param-value>
	    com.hazelcast.impl.management.ClusterPropsRequest
		com.hazelcast.impl.management.ConsoleCommandRequest
		com.hazelcast.impl.management.DetectDeadlockRequest
		com.hazelcast.impl.management.EvictLocalMapRequest
		com.hazelcast.impl.management.ExecuteScriptRequest
		com.hazelcast.impl.management.GetLogLevelRequest
		com.hazelcast.impl.management.GetLogsRequest
		com.hazelcast.impl.management.GetMapEntryRequest
		com.hazelcast.impl.management.GetMemberSystemPropertiesRequest
		com.hazelcast.impl.management.GetVersionRequest
		com.hazelcast.impl.management.MapConfigRequest
		com.hazelcast.impl.management.MemberConfigRequest
		com.hazelcast.impl.management.RestartMemberRequest
		com.hazelcast.impl.management.RunGcRequest
		com.hazelcast.impl.management.RuntimeStateRequest
		com.hazelcast.impl.management.SetLogLevelRequest
		com.hazelcast.impl.management.ShutdownMemberRequest
		com.hazelcast.impl.management.ThreadDumpRequest
		com.hazelcast.impl.management.VersionMismatchLogRequest
     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutResponse</servlet-name>
    <url-pattern>/putResponse.do</url-pattern>
  </servlet-mapping>
</web-app>